@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.navigatie {
    display: block;
    margin: 1em calc(10%) 1.5em calc(10%);
    padding: 1em;
    border-top: 5px solid rgb(227, 248, 255);
    border-radius: 10px;
}

#home {
    display: block;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    color: black;
    font-size: 15px;
    margin: 0.3em;
    float: left;
}

#home:hover {
    background-color: rgb(123, 62, 223);
}

#contact:hover {
    background-color: rgb(123, 62, 223);
}

#titel {
    font-size: 40px;
}

#contact {
    display: block;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    color: black;
    font-size: 15px;
    margin: 0.3em;
    float: right;
} 

.assortiment {
    display: block;
    padding: 0.5em 0.5em 200px 0.5em;
    margin: 0.5em;
}

.productenlijst {
    display: block;
    padding: 0.5em 0.5em 200px 0.5em;
    margin: 0.5em;
}

.winkelwagen {
    display: block;
    padding: 0.5em 0.5em 200px 0.5em;
    margin: 0.5em;
}

.footer {
    display: block;
    padding: 0.5em;
    margin: 1em calc(10%) 1.5em calc(10%);
    border-bottom: 5px solid lightblue;
    border-radius: 10px;
}

@media (max-width: 800px) {
    #home {
        display: block;
        padding: 10px;
        width: 60px;
        font-size: 10px;
    }
    #contact {
        display: block;
        padding: 10px;
        width: 60px;
        font-size: 10px;
    }
}

@media (max-width: 995px) {
    #titel {
        font-size: 30px;
    }
    #assortiment-titel {
        font-size: 18px
    }
    #productenlijst-titel {
        font-size: 18px
    }
    #winkelwagen-titel {
        font-size: 18px
    }
}