body {
    background-color: white;
}

.navigatie {
    background-color: rgba(93, 92, 143, 0.527);
    display: block;
    margin: 1em calc(5%) 1.5em calc(5%);
    padding: 1em;
    border-top: 5px solid lightblue;
    border-radius: 10px;
}

#home {
    display: block;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    color: black;
    font-size: 15px;
    margin: 0.3em;
    float: left;
}

#home:hover {
    background-color: rgb(123, 62, 223);
}

#contact:hover {
    background-color: rgb(123, 62, 223);
}

#titel {
    font-size: 40px;
    margin: 1em;
    text-align: center;
}

#contact {
        display: block;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    color: black;
    font-size: 15px;
    margin: 0.3em;
    float: right;
} 


.assortiment {
    background-color: lightblue;
    display: block;

}

.productenlijst {
    background-color: rgb(173, 183, 230);
    display: block;

}

.winkelwagen {
    background-color: grey;
    display: block;
}

.footer {
    background-color: rgb(162, 162, 247);
    display: block;
    padding: 0.5em;
    margin: 1em calc(5%) 1.5em calc(5%);
    border-bottom: 5px solid lightblue;
    border-radius: 10px;
}

@media (max-width: 575.99px) {
    #home {
        display: block;
        padding: 10px;
        width: 50px;
        font-size: 10px;
    }
    #titel {
        font-size: 25px;
    }
}